html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#app {
	height: 100%;
	width: 100%;
}

#tree-container {
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.tree-expand {
	display: block;
}

.tree-collapse {
	display: none;
	height: 0px;
}

.tree-dir {

}

.tree-file {
	font-weight: bold;
}

#editor {
	width: 100%;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('/img/grip_vertical.png');
	cursor: ew-resize;
}

.gutter.gutter-vertical {
	background-image: url('/img/grip_horizontal.png');
	cursor: ns-resize;
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gutter.gutter-vertical {
	height: 10px;
}

.split {
	overflow-y: auto;
	overflow-x: auto;
}